/*estilos*/

 section p {
    background-color: #ccffff;
    color: #2a94b7;
}
h1, h2 {
    text-align: center;
}
h1 {
    background-color: black;
    color: white
}
h2 {
    background-color: #000000;
    color: #00cc00
        
}
thead tr {
    background-color: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #266e86;
    color: #dcf3fa;
}

tbody tr:nth-child(odd) {
    background-color: #3999b8;
    color: #dcf3fa;
}

